production: &production
  adapter: 'mysql2_makara'
  pool: 5
  timeout: 5000
  database: driving_brilliance
  makara:
    # optional id to identify the proxy with this configuration for stickiness
    id: mysql
    # the following are default values
    blacklist_duration: 5
    master_ttl: 5
    master_strategy: round_robin
    sticky: true

    # list your connections with the override values (they're merged into the top-level config)
    # be sure to provide the role if master, role is assumed to be a slave if not provided
    connections:
      - role: master
        username: drivingbrill
        password: ingbrill
        host: onlinedrivers-education-aurora-cluster.cluster-cj4fj2tc3v87.us-east-1.rds.amazonaws.com # onlinedrivers-education.cj4fj2tc3v87.us-east-1.rds.amazonaws.com
        port: 3306
      - role: slave
        username: drivingbrill
        password: ingbrill
        host: onlinedrivers-education-aurora-cluster.cluster-ro-cj4fj2tc3v87.us-east-1.rds.amazonaws.com # onlinedrivers-education-slave1.cj4fj2tc3v87.us-east-1.rds.amazonaws.com
        port: 3306
<% if false %>
  <% (['development', 'production'] + [@environment]).uniq.each do |env| -%>
    <%= env %>:
      # Custom template
      adapter: <%= @database[:adapter].to_s.inspect %>
      database: <%= @database[:database].to_s.inspect %>
      encoding: <%= (@database[:encoding] || 'utf8').to_s.inspect %>
      host: <%= (@database[:host] || 'localhost').to_s.inspect %>
      username: <%= @database[:username].to_s.inspect %>
      password: <%= @database[:password].to_s.inspect %>
      reconnect: <%= @database[:reconnect] ? 'true' : 'false' %>
    <% if @database[:pool] -%>
      pool: <%= @database[:pool].to_i.inspect %>
    <% end -%>
    <% if @database[:port] -%>
      port: <%= @database[:port].to_i.inspect %>
    <% end -%>
  <% end %>
<% end %>